*
{
    padding: 0px;
    margin: 0px;
}


.main
{
 width: 100%;
 height: 100vh;
border-radius: 60px;
background-color: black;
display: flex;
align-items: center;
justify-content: space-between;

}

.left
{
 width: 30vw;
height: 100vh;
margin: auto;
padding-top: 70px;
padding-left: 70px;
}

.heading
{
    margin: 0px;
    padding-top: 30px;
}
.gradient-text {
    font-size: 50px;
    background: linear-gradient(180deg, #FFB6FF 0%, #B344FF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .gradient-text1 {
    padding-top:50px;
    font-size: 60px;
    background: linear-gradient(180deg, #FFB6FF 0%, #B344FF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

.right
{
width: 70vw;
height: 100vh;
margin :auto;
padding-top: 70px;
}

.right>img
{
  width: 70vw;
  height: 80vh;
}

.page
{
  display: flex;
  justify-content: end;
  padding-right:100px;
  padding-top: 30px;
}

.page>a{
  color: white;
}


@media (max-width: 768px) 
{
  .main{
    align-items: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    height: 100vh;
  }

  .left{
    text-align: center;
    margin: 0px;
    padding: 10px;
    width: 100%;
    height: 20vh;
  }

  .heading{
    max-width: 100%;
  }
  
  .gradient-text,.gradient-text1
  {
    margin: 0px;
    padding: 10px;
    font-size: 25px;
  }

  .right{
    max-width: 100%;
    margin: 0px;
    width: 100vw;
  }

  .right>img {
    max-width: 100%;
    height: 80%;
    width: 100vw;
    padding-left: 25px;
  }
  .page{
    text-align: center;
    justify-content: center;
    padding-left: 90px;
  }
}